* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* navbar section */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 120px;
  align-items: center;
  margin: 0 auto;
  /* border: 10px solid red; */
  margin-bottom: 0px;
}
.navbar .logo {
  width: 8%;
  max-width: 139px;
}
.navbar .menu {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  font-size: 16px;
  color: #000000;
}
.navbar .btn {
  background-color: #30b868;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
}
.navbar .btn a {
  text-decoration: none;
  color: white;
}

/* header section */

.bgimg {
  background-image: url(./assets/hero-bg.png);
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-content {
  text-align: center;
}
.dot {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background-color: #469165;
}
.announce {
  background-color: white;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  border-radius: 1000px;
}
.announce p {
  font-size: 16px;
  font-weight: 500;
  color: #469165;
}

.tagline {
  margin-top: 16px;
  width: 770px;
}
.tagline h2 {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  text-align: center;
  color: white;
  margin-bottom: 16px;
}
.tagline h2 span {
  color: #30b868;
}
.tagline p {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 32px;
}
.herobtn {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: center;
}
.btn1 {
  padding: 12px 16px;
  background-color: #30b868;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  border: 2px solid #30b868;
  display: flex;
  gap: 10px;
}
.btn2 {
  border: 2px solid #ffffff;
  padding: 12px 16px;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  display: flex;
  gap: 10px;
}

/* circle-section */
.circle-section {
  width: 1360px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  gap: 24px;
}
.circle {
  align-items: center;
  justify-content: center;
  display: flex;
}
.circle img {
  padding: 15px;
  width: 60px;
  height: 60px;
  background-color: #f95555;
  border-radius: 50%;
}

h4 {
  color: #001931;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  justify-content: center;
}
.circle-section p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
.box {
  width: 322px;
  height: 300px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  justify-content: center;
}

.m1 {
  /* padding: 0 120px 120px 120px; */
  margin-top: 60px;
  margin-bottom: 40px;
}
.m1 h3 {
  color: #001931;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  margin-bottom: 16px;
}
.m1 p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
/* brain-part */

.braincontainer {
  display: flex;
  align-items: center;
  justify-items: center;
  max-width: 1360px;
  margin: 120px auto;
  gap: 60px;
}
.image {
  height: 600px;
  width: 600px;
}
.image img {
  height: auto;
  width: auto;
}
h6 {
  color: #30b868;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.content h4 {
  color: #001931;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.pgpart p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-bottom: 40px;
}
.listpart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.listpart .l1 {
  display: flex;
  gap: 6px;
  margin-bottom: 16px;
}

/* joinsection */

.joinsection {
  max-width: 1360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24;
  padding: 80px 40px;
  margin: 0px auto 120px;
  background-color: rgba(247, 246, 242, 1);
  border-radius: 12px;
}
.joinsection h3 {
  color: #001931;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.joinsection p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.joinsection div {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 16px;
}

/* footer */

footer {
  background-color: rgba(0, 25, 49, 1);
  width: 100%;
}
.footercontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 120px 80px 120px;
  width: 1360px;
  margin: 0 auto;
}
.logosocial {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 80px;
}
.socialsection {
  color: #ffffff;
  gap: 55px;
}
.copyright {
  color: #ffffffaa;
  border-top: 2px solid #ffffff53;
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
