*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* navbar section */

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
    margin: 0 auto;
}
.navbar .logo{
    width: 8%;
    max-width: 139px;
}
.navbar .menu{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    font-size: 16px;
    color: #000000;
}
.navbar .btn{
  background-color: #30B868;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
}
.navbar .btn a{
    text-decoration: none;
    color: white;
}

/* header section */

